
.notification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    margin-bottom: 1rem;
    width: 100%;
    max-width: 400px;
    position: relative;
background-color: lightgray;}


.notification-message {
    flex-grow: 1;
}


.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    line-height: 1;
    color: inherit;
    cursor: pointer;
    padding: 0;
    margin-left: 1rem;
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

