.header{
    width:100%;
    padding-top: 70px;
    }
    
    .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    }
    
    .container input{
        border: 1px solid black ;
    }

    .form-text{
        margin-bottom: 30px;
    }

