<nav>
    <div class="nav-content Content">
        <div class="ul-content">
            <div class="mb-3">
                <a href="../home"> <img
                        src="https://www.marefa.org/w/images/thumb/2/26/%D8%B4%D8%B9%D8%A7%D8%B1_%D8%A7%D9%84%D8%AC%D8%A7%D9%85%D8%B9%D8%A9.png/800px-%D8%B4%D8%B9%D8%A7%D8%B1_%D8%A7%D9%84%D8%AC%D8%A7%D9%85%D8%B9%D8%A9.png"
                        width="60px" alt="logo"></a>
            </div>
            <ul>
                <li><a href="../home" style="color: #00008b; text-decoration: none;">Home</a></li>
                <li><a href="../courses" style="color:#00008b;text-decoration: none;">Courses</a>
                </li>
                <li><a href="../schedular" style="color:#00008b;text-decoration: none;">My Schedular</a></li>
            </ul>
        </div>
        <div class="logout">
            <div class="logout">
                <select name="" style="background: none;" id="pageSelect">
                    <option>Farah</option>
                    <option value="../account">My Account</option>
                    <option value="../login" class="btn btn-danger">Logout</option>
                </select>
            </div>
        </div>

    </div>
</nav>



