
{% load static %}
<!DOCTYPE html>
<html lang="en">
<style>
    .notification-scroller {
        max-height: 200px; /* Adjust as needed */
        overflow-y: auto;
        }
    
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Registration System | Home</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <!-- css -->
    <link rel="stylesheet" href={% static "css//index.css" %}>
    <link rel="stylesheet" href={% static "css//home.css" %}>

</head>

<body>
    <header>
        <nav>
            <div class="nav-content Content">
                <div class="ul-content">
                    <div class="mb-3">
                        <a href="{% url 'home' %}">
                            <img src="https://www.marefa.org/w/images/thumb/2/26/شعار_الجامعة.png/800px-شعار_الجامعة.png" width="60px" alt="logo">
                        </a>
                    </div>
                    <ul>
                        <li><a href="{% url 'home' %}" style="color: #00008b; text-decoration: none;">Home</a></li>
                        <li><a href="{% url 'courses' %}" style="color:#00008b;text-decoration: none;">Courses</a></li>
                        <li><a href="{% url 'my_courses' %}" style="color:#00008b;text-decoration: none;">My Scheduler</a></li>
                    </ul>
                </div>
                <div class="logout">
                    <select name="" style="background: none;" id="pageSelect" onchange="location = this.value;">
                        <option>{{ username }}</option>
                        <option value="{% url 'profile' %}">My Account</option>
                        <option value="{% url 'logout' %}" class="btn btn-danger">Logout</option>
                    </select>
                </div>
            

        </nav>
        <div class="notification-scroller" >
            <div class="notification-container">
                {% for notification in notifications %}
                    <div class="alert alert-info" role="alert" id="{{ notification.id }}">
                        {{ notification.message }}
                        {% if notification.deadline_date %}
                        <button class="close-btn" onclick="closeNotification('{{ notification.id }}')">&times;</button>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
                                
        
    
        
        <div class="row container d-flex align-items-center justify-content-center mt-5 text-capitalize">
            <img src="https://www.marefa.org/w/images/thumb/2/26/شعار_الجامعة.png/800px-شعار_الجامعة.png"
                class="logo col-md-3 mt-5 m-5" width="50px">
            <h1 class="col-md-8 mt-5">Welcome to Registration System Website</h1>
        </div>
    </header>
    

    <script>
        document.getElementById('pageSelect').addEventListener('change', function () {
            const selectedPage = this.value;
            if (selectedPage) {
                window.location.href = selectedPage;
            }
        });
        function closeNotification(notificationId) {
            var notificationElement = document.getElementById(notificationId);
            if (notificationElement) {
                notificationElement.style.display = "none";
            }
        }
    
    </script>
</body>

</html>