{% extends "courses/Admin/mainadmin.html" %}

{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Registration System | Student Registration</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <form method="get" action="{% url 'student_course_list' %}">
                    <input type="text" name="search_query" placeholder="Search Student" value="{{ query }}">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>

                <form method="post" action="{% url 'student_course_list' %}">
                    {% csrf_token %}
                    <table class="table table-bordered mt-5 text-center border-primary text-capitalize">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Choose</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                            <tr>
                                <td>{{ student.id }}</td>
                                <td>{{ student.user.username }}</td>
                                <td><input type="checkbox" name="student_id[]" value="{{ student.id }}"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-success">Confirm</button>
                </form>
            </div>
            <div class="col-md-6">
                <form method="get" action="{% url 'courses_list' %}">
                    <input type="text" name="search_query" placeholder="Search Course" value="{{ query }}">
                    <button type="submit" class="btn btn-primary">Search</button>
                </form>

                <form method="post" action="{% url 'courses_list' %}">
                    {% csrf_token %}
                    <table class="table table-bordered mt-5 text-center border-primary text-capitalize">
                        <thead>
                            <tr>
                                <th>Course Code</th>
                                <th>Course Name</th>
                                <th>Prerequisites</th>
                                <th>Instructor</th>
                                <th>Completed</th>
                                <th>Choose</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in courses %}
                            <tr>
                                <td>{{ course.code }}</td>
                                <td>{{ course.name }}</td>
                                <td>{{ course.prerequisites.all|join:", " }}</td>
                                <td>{{ course.instructor }}</td>
                                <td>{{ course.completed }}</td>
                                <td><input type="checkbox" name="course_code[]" value="{{ course.code }}"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-success">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
